@model ResultFeatureDto
@{
    Layout = "~/Views/Admin/Layout.cshtml";
}

<div class="card shadow-sm mt-4">
    <div class="row g-0">
        <!-- Sol taraf: Resim -->
        <div class="col-md-5 d-flex align-items-center justify-content-center p-3">
            <img src="@Model.ImageUrl"
                 alt="@Model.Title"
                 class="img-fluid rounded"
                 style="max-height:250px; object-fit:cover;" />
        </div>

        <!-- Sağ taraf: Bilgiler -->
        <div class="col-md-7">
            <div class="card-body">
                <h5 class="card-title fw-semibold mb-3">Öne Çıkan Alan Detayları</h5>

                <div class="mb-3">
                    <label class="form-label">Ana Başlık</label>
                    <input type="text" value="@Model.MainTitle" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label class="form-label">Başlık</label>
                    <input type="text" value="@Model.Title" class="form-control" readonly />
                </div>

                <div class="mb-3">
                    <label class="form-label">Açıklama</label>
                    <textarea class="form-control" rows="3" readonly>@Model.Description</textarea>
                </div>

                @if (!string.IsNullOrEmpty(Model.VideoUrl))
                {
                    <div class="mb-3">
                        <label class="form-label">Video Linki</label><br />
                        <input type="text" value="@Model.VideoUrl" class="form-control" readonly />

                    </div>

                    <a href="@Model.VideoUrl" target="_blank" class="btn btn-outline-primary">
                        Videoyu İzle
                    </a>
                }
                <!-- Güncelle Butonu -->
                <div class="mt-4 text-end">
                    <a asp-action="UpdateFeature" asp-controller="Feature" asp-route-id="@Model.FeatureId"
                       class="btn btn-info">
                        Alanı Güncelle
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>